<div style="margin: auto; width: 60%; padding: 10px;">

    <legend style="font-size:20px; margin-top:5px; text-align: center; "><b>Model Legend</b></legend>
    
    <div style='display:flex'>
          <div style='flex:1'>
            <div style='float: left;height: 20px;width: 20px;margin-right: 5px;border: 1px solid black;clear: both;background-color:blue'></div> 
            <p style="font-size:16px; vertical-align: middle">Panic level: Low </p> 
        </div>

          <div style='flex:1'>
            <div style='float: left;height: 20px;width: 20px;margin-right: 5px;border: 1px solid black;clear: both;background-color:orange'></div>
            <p style="font-size:16px"> Panic level: Medium </p> 
        </div>

        <div style='flex:1'>
            <div style='float: left;height: 20px;width: 20px;margin-right: 5px;border: 1px solid black;clear: both;background-color:red'></div>
            <p style="font-size:16px"> Panic level: High </p>
        </div>
    </div>

    <div style='display:flex'>

        <div style='flex:1'>
            <div style='float: left;height: 20px;width: 20px;margin-right: 5px;border: 1px solid black;clear: both;background-color:Indigo'></div> 
            <p style="font-size:16px"> Theory of Mind Agent</p>
        </div>

        <div style='flex:1'>
            <div style='float: left;height: 20px;width: 20px;margin-right: 5px;border: 1px solid black;clear: both;background-color:green'></div> 
            <p style="font-size:16px"> Exit</p>
        </div>

        <div style='flex:1'>
            <div style='float: left;height: 20px;width: 20px;margin-right: 5px;border: 1px solid black;clear: both;background-color:black'></div> 
            <p style="font-size:16px"> Obstacle</p>
        </div>

    </div>

    <div style='display:flex'>

        <div style='flex:1'>
            <div style='float: left;height: 20px;width: 20px;margin-right: 5px;border: 1px solid black;clear: both;background-color:FireBrick'></div> 
            <p style="font-size:16px"> Hazard </p>
        </div>

        <div style='flex:1'>
            <div style='float: left;height: 20px;width: 20px;margin-right: 5px;border: 1px solid black;clear: both;background-color:Gainsboro'></div> 
            <p style="font-size:16px"> Danger zone </p>
        </div>

        <div style='flex:1'>
            <div style='float: left;height: 20px;width: 20px;margin-right: 5px;border: 1px solid white;clear: both;background-color:white'></div> 
            <p style="font-size:16px">  </p>
        </div>
    </div>
</div>